# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=

# Azure Document Intelligence
AZURE_DOC_INTEL_ENDPOINT=
AZURE_DOC_INTEL_KEY=

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-mini

# Azure Cosmos DB
AZURE_COSMOS_ENDPOINT=
AZURE_COSMOS_KEY=
AZURE_COSMOS_DB_NAME=flashstudy
AZURE_COSMOS_CONTAINER_NAME=decks

# App config
FRONTEND_URL=http://localhost:5173